*auto-save-list
*.elc
*/elpa
*/cache
netbeans
*/netbeans-7.1.1
*/glassfish-3.1.2
*~
abbrev_defs
.emacs.d/tramp
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/plugins
.emacs.d/ac-comphist.dat
local/bin/determine_authors.sh
local/bin/file_stats.sh
local/bin/Sencha
*.zwc
places
