*.elc
*.eld
*.iml
*.swp
*.zwc
*/glassfish-3.1.2
*/netbeans-7.1.1
*bak
*~
.emacs.d/.cache/
.emacs.d/ac-comphist.dat
.emacs.d/plugins
.emacs.d/projectile-bookmarks.eld
.emacs.d/tramp
.idea
.zsh/novoenv.zsh
abbrev_defs
auto-save-list
cache
django-mode
elpa
ido.last
local/bin/Sencha
local/bin/determine_authors.sh
local/bin/file_stats.sh
netbeans
opt/bin/gource
opt/bin/grv
opt/bin/pycharm
opt/share/
places
places
request
tmp
tramp
ssh_auth_sock
