auto-save-list
elpa
cache
tmp
tramp
places
netbeans
*/netbeans-7.1.1
*/glassfish-3.1.2
*~
.idea
abbrev_defs
.emacs.d/tramp
ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/plugins
.emacs.d/ac-comphist.dat
local/bin/determine_authors.sh
local/bin/file_stats.sh
local/bin/Sencha
*.zwc
*.elc
*.eld
*.iml
*~
*bak
places
request
django-mode
.emacs.d/.cache/
.zsh/novoenv.zsh
