
#!/usr/bin/env bash

/usr/bin/wmname LG3D &
#spacefm -d &
nm-applet &
#cbatticon &
volumeicon &
#/usr/bin/owncloud &
/usr/bin/SpiderOak &
/sbin/wicd-gtk &
xmodmap ~/.Xmodmap
setxkbmap -option ctrl:nocaps
#exec i3
