
#!/usr/bin/env bash

/usr/bin/wmname LG3D &
#spacefm -d &
nm-applet &
#cbatticon &
volumeicon &
#/usr/bin/owncloud &
/usr/bin/SpiderOak &
/sbin/wicd-gtk &
xmodmap ~/.Xmodmap
setxkbmap -option ctrl:nocaps
feh --bg-fill .i3/deep-dark-space.png
#exec i3
